<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.will.dao.mc_com_group_memberMapper">
  <resultMap id="BaseResultMap" type="com.will.pojo.mc_com_group_member">
    <constructor>
      <idArg column="Id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="GroupCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UserId" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="RecordStatus" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CreateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LastModifyTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    Id, GroupCode, UserName, UserId, RecordStatus, CreateTime, LastModifyTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_com_group_member
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mc_com_group_member
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.will.pojo.mc_com_group_member">
    insert into mc_com_group_member (Id, GroupCode, UserName, 
      UserId, RecordStatus, CreateTime, 
      LastModifyTime)
    values (#{id,jdbcType=VARCHAR}, #{groupcode,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, 
      #{userid,jdbcType=CHAR}, #{recordstatus,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{lastmodifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.will.pojo.mc_com_group_member">
    insert into mc_com_group_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="groupcode != null">
        GroupCode,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="recordstatus != null">
        RecordStatus,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="groupcode != null">
        #{groupcode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=CHAR},
      </if>
      <if test="recordstatus != null">
        #{recordstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null">
        #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.will.pojo.mc_com_group_member">
    update mc_com_group_member
    <set>
      <if test="groupcode != null">
        GroupCode = #{groupcode,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        UserId = #{userid,jdbcType=CHAR},
      </if>
      <if test="recordstatus != null">
        RecordStatus = #{recordstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.will.pojo.mc_com_group_member">
    update mc_com_group_member
    set GroupCode = #{groupcode,jdbcType=VARCHAR},
      UserName = #{username,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=CHAR},
      RecordStatus = #{recordstatus,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>