<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.will.dao.mc_log_callbackMapper">
  <resultMap id="BaseResultMap" type="com.will.pojo.mc_log_callback">
    <constructor>
      <idArg column="Id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ProcInstId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TaskId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="RequestUrl" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="RequestHeader" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="RequestParam" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Response" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="StatusCode" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="RecordStatus" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CreateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LastModifyTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    Id, ProcInstId, TaskId, RequestUrl, RequestHeader, RequestParam, Response, StatusCode, 
    RecordStatus, CreateTime, LastModifyTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_log_callback
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mc_log_callback
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.will.pojo.mc_log_callback">
    insert into mc_log_callback (Id, ProcInstId, TaskId, 
      RequestUrl, RequestHeader, RequestParam, 
      Response, StatusCode, RecordStatus, 
      CreateTime, LastModifyTime)
    values (#{id,jdbcType=VARCHAR}, #{procinstid,jdbcType=VARCHAR}, #{taskid,jdbcType=VARCHAR}, 
      #{requesturl,jdbcType=VARCHAR}, #{requestheader,jdbcType=VARCHAR}, #{requestparam,jdbcType=VARCHAR}, 
      #{response,jdbcType=VARCHAR}, #{statuscode,jdbcType=INTEGER}, #{recordstatus,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lastmodifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.will.pojo.mc_log_callback">
    insert into mc_log_callback
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="procinstid != null">
        ProcInstId,
      </if>
      <if test="taskid != null">
        TaskId,
      </if>
      <if test="requesturl != null">
        RequestUrl,
      </if>
      <if test="requestheader != null">
        RequestHeader,
      </if>
      <if test="requestparam != null">
        RequestParam,
      </if>
      <if test="response != null">
        Response,
      </if>
      <if test="statuscode != null">
        StatusCode,
      </if>
      <if test="recordstatus != null">
        RecordStatus,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="procinstid != null">
        #{procinstid,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="requesturl != null">
        #{requesturl,jdbcType=VARCHAR},
      </if>
      <if test="requestheader != null">
        #{requestheader,jdbcType=VARCHAR},
      </if>
      <if test="requestparam != null">
        #{requestparam,jdbcType=VARCHAR},
      </if>
      <if test="response != null">
        #{response,jdbcType=VARCHAR},
      </if>
      <if test="statuscode != null">
        #{statuscode,jdbcType=INTEGER},
      </if>
      <if test="recordstatus != null">
        #{recordstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null">
        #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.will.pojo.mc_log_callback">
    update mc_log_callback
    <set>
      <if test="procinstid != null">
        ProcInstId = #{procinstid,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null">
        TaskId = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="requesturl != null">
        RequestUrl = #{requesturl,jdbcType=VARCHAR},
      </if>
      <if test="requestheader != null">
        RequestHeader = #{requestheader,jdbcType=VARCHAR},
      </if>
      <if test="requestparam != null">
        RequestParam = #{requestparam,jdbcType=VARCHAR},
      </if>
      <if test="response != null">
        Response = #{response,jdbcType=VARCHAR},
      </if>
      <if test="statuscode != null">
        StatusCode = #{statuscode,jdbcType=INTEGER},
      </if>
      <if test="recordstatus != null">
        RecordStatus = #{recordstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.will.pojo.mc_log_callback">
    update mc_log_callback
    set ProcInstId = #{procinstid,jdbcType=VARCHAR},
      TaskId = #{taskid,jdbcType=VARCHAR},
      RequestUrl = #{requesturl,jdbcType=VARCHAR},
      RequestHeader = #{requestheader,jdbcType=VARCHAR},
      RequestParam = #{requestparam,jdbcType=VARCHAR},
      Response = #{response,jdbcType=VARCHAR},
      StatusCode = #{statuscode,jdbcType=INTEGER},
      RecordStatus = #{recordstatus,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>