<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.will.dao.mc_se_systemMapper">
  <resultMap id="BaseResultMap" type="com.will.pojo.mc_se_system">
    <constructor>
      <idArg column="Id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="SysName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SysCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SysKey" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Sys_Permission" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="RecordStatus" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CreateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LastModifyTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    Id, SysName, SysCode, SysKey, Sys_Permission, RecordStatus, CreateTime, LastModifyTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_se_system
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from mc_se_system
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.will.pojo.mc_se_system">
    insert into mc_se_system (Id, SysName, SysCode, 
      SysKey, Sys_Permission, RecordStatus, 
      CreateTime, LastModifyTime)
    values (#{id,jdbcType=INTEGER}, #{sysname,jdbcType=VARCHAR}, #{syscode,jdbcType=VARCHAR}, 
      #{syskey,jdbcType=VARCHAR}, #{sysPermission,jdbcType=VARCHAR}, #{recordstatus,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lastmodifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.will.pojo.mc_se_system">
    insert into mc_se_system
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="sysname != null">
        SysName,
      </if>
      <if test="syscode != null">
        SysCode,
      </if>
      <if test="syskey != null">
        SysKey,
      </if>
      <if test="sysPermission != null">
        Sys_Permission,
      </if>
      <if test="recordstatus != null">
        RecordStatus,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysname != null">
        #{sysname,jdbcType=VARCHAR},
      </if>
      <if test="syscode != null">
        #{syscode,jdbcType=VARCHAR},
      </if>
      <if test="syskey != null">
        #{syskey,jdbcType=VARCHAR},
      </if>
      <if test="sysPermission != null">
        #{sysPermission,jdbcType=VARCHAR},
      </if>
      <if test="recordstatus != null">
        #{recordstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null">
        #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.will.pojo.mc_se_system">
    update mc_se_system
    <set>
      <if test="sysname != null">
        SysName = #{sysname,jdbcType=VARCHAR},
      </if>
      <if test="syscode != null">
        SysCode = #{syscode,jdbcType=VARCHAR},
      </if>
      <if test="syskey != null">
        SysKey = #{syskey,jdbcType=VARCHAR},
      </if>
      <if test="sysPermission != null">
        Sys_Permission = #{sysPermission,jdbcType=VARCHAR},
      </if>
      <if test="recordstatus != null">
        RecordStatus = #{recordstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.will.pojo.mc_se_system">
    update mc_se_system
    set SysName = #{sysname,jdbcType=VARCHAR},
      SysCode = #{syscode,jdbcType=VARCHAR},
      SysKey = #{syskey,jdbcType=VARCHAR},
      Sys_Permission = #{sysPermission,jdbcType=VARCHAR},
      RecordStatus = #{recordstatus,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>