<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.will.dao.mc_proc_agentMapper">
  <resultMap id="BaseResultMap" type="com.will.pojo.mc_proc_agent">
    <constructor>
      <idArg column="Id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="UserId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AgentUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AgentUserId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AgentProcCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="AgentType" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="BeginTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="EndTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="RecordStatus" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CreateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LastModifyTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    Id, UserName, UserId, AgentUserName, AgentUserId, AgentProcCode, AgentType, BeginTime, 
    EndTime, RecordStatus, CreateTime, LastModifyTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_proc_agent
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mc_proc_agent
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.will.pojo.mc_proc_agent">
    insert into mc_proc_agent (Id, UserName, UserId, 
      AgentUserName, AgentUserId, AgentProcCode, 
      AgentType, BeginTime, EndTime, 
      RecordStatus, CreateTime, LastModifyTime
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{agentusername,jdbcType=VARCHAR}, #{agentuserid,jdbcType=VARCHAR}, #{agentproccode,jdbcType=VARCHAR}, 
      #{agenttype,jdbcType=VARCHAR}, #{begintime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, 
      #{recordstatus,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, #{lastmodifytime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.will.pojo.mc_proc_agent">
    insert into mc_proc_agent
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="username != null">
        UserName,
      </if>
      <if test="userid != null">
        UserId,
      </if>
      <if test="agentusername != null">
        AgentUserName,
      </if>
      <if test="agentuserid != null">
        AgentUserId,
      </if>
      <if test="agentproccode != null">
        AgentProcCode,
      </if>
      <if test="agenttype != null">
        AgentType,
      </if>
      <if test="begintime != null">
        BeginTime,
      </if>
      <if test="endtime != null">
        EndTime,
      </if>
      <if test="recordstatus != null">
        RecordStatus,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="agentusername != null">
        #{agentusername,jdbcType=VARCHAR},
      </if>
      <if test="agentuserid != null">
        #{agentuserid,jdbcType=VARCHAR},
      </if>
      <if test="agentproccode != null">
        #{agentproccode,jdbcType=VARCHAR},
      </if>
      <if test="agenttype != null">
        #{agenttype,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordstatus != null">
        #{recordstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null">
        #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.will.pojo.mc_proc_agent">
    update mc_proc_agent
    <set>
      <if test="username != null">
        UserName = #{username,jdbcType=VARCHAR},
      </if>
      <if test="userid != null">
        UserId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="agentusername != null">
        AgentUserName = #{agentusername,jdbcType=VARCHAR},
      </if>
      <if test="agentuserid != null">
        AgentUserId = #{agentuserid,jdbcType=VARCHAR},
      </if>
      <if test="agentproccode != null">
        AgentProcCode = #{agentproccode,jdbcType=VARCHAR},
      </if>
      <if test="agenttype != null">
        AgentType = #{agenttype,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null">
        BeginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null">
        EndTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="recordstatus != null">
        RecordStatus = #{recordstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.will.pojo.mc_proc_agent">
    update mc_proc_agent
    set UserName = #{username,jdbcType=VARCHAR},
      UserId = #{userid,jdbcType=VARCHAR},
      AgentUserName = #{agentusername,jdbcType=VARCHAR},
      AgentUserId = #{agentuserid,jdbcType=VARCHAR},
      AgentProcCode = #{agentproccode,jdbcType=VARCHAR},
      AgentType = #{agenttype,jdbcType=VARCHAR},
      BeginTime = #{begintime,jdbcType=TIMESTAMP},
      EndTime = #{endtime,jdbcType=TIMESTAMP},
      RecordStatus = #{recordstatus,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>