<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.will.dao.mc_ru_todoMapper">
  <resultMap id="BaseResultMap" type="com.will.pojo.mc_ru_todo">
    <constructor>
      <idArg column="Id" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TaskId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="SystemCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ProcInstId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ProcessName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ProcessCode" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TaskTitle" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ImportantContent" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="Summary" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="TaskState" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CreateUserId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CreateUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CreateUserDepartment" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="CreateUserPosition" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ApprovalUserId" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ApprovalUserName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ApprovalUserDepartment" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ApprovalUserPosition" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ApprovalAction" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ArrivalTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="ApprovalTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="PlatformType" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="RecordStatus" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="CreateTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
      <arg column="LastModifyTime" javaType="java.util.Date" jdbcType="TIMESTAMP" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    Id, TaskId, SystemCode, ProcInstId, ProcessName, ProcessCode, TaskTitle, ImportantContent, 
    Summary, TaskState, CreateUserId, CreateUserName, CreateUserDepartment, CreateUserPosition, 
    ApprovalUserId, ApprovalUserName, ApprovalUserDepartment, ApprovalUserPosition, ApprovalAction, 
    ArrivalTime, ApprovalTime, PlatformType, RecordStatus, CreateTime, LastModifyTime
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from mc_ru_todo
    where Id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from mc_ru_todo
    where Id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.will.pojo.mc_ru_todo">
    insert into mc_ru_todo (Id, TaskId, SystemCode, 
      ProcInstId, ProcessName, ProcessCode, 
      TaskTitle, ImportantContent, Summary, 
      TaskState, CreateUserId, CreateUserName, 
      CreateUserDepartment, CreateUserPosition, 
      ApprovalUserId, ApprovalUserName, ApprovalUserDepartment, 
      ApprovalUserPosition, ApprovalAction, ArrivalTime, 
      ApprovalTime, PlatformType, RecordStatus, 
      CreateTime, LastModifyTime)
    values (#{id,jdbcType=VARCHAR}, #{taskid,jdbcType=VARCHAR}, #{systemcode,jdbcType=VARCHAR}, 
      #{procinstid,jdbcType=VARCHAR}, #{processname,jdbcType=VARCHAR}, #{processcode,jdbcType=VARCHAR}, 
      #{tasktitle,jdbcType=VARCHAR}, #{importantcontent,jdbcType=VARCHAR}, #{summary,jdbcType=VARCHAR}, 
      #{taskstate,jdbcType=INTEGER}, #{createuserid,jdbcType=VARCHAR}, #{createusername,jdbcType=VARCHAR}, 
      #{createuserdepartment,jdbcType=VARCHAR}, #{createuserposition,jdbcType=VARCHAR}, 
      #{approvaluserid,jdbcType=VARCHAR}, #{approvalusername,jdbcType=VARCHAR}, #{approvaluserdepartment,jdbcType=VARCHAR}, 
      #{approvaluserposition,jdbcType=VARCHAR}, #{approvalaction,jdbcType=VARCHAR}, #{arrivaltime,jdbcType=TIMESTAMP}, 
      #{approvaltime,jdbcType=TIMESTAMP}, #{platformtype,jdbcType=INTEGER}, #{recordstatus,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{lastmodifytime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.will.pojo.mc_ru_todo">
    insert into mc_ru_todo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="taskid != null">
        TaskId,
      </if>
      <if test="systemcode != null">
        SystemCode,
      </if>
      <if test="procinstid != null">
        ProcInstId,
      </if>
      <if test="processname != null">
        ProcessName,
      </if>
      <if test="processcode != null">
        ProcessCode,
      </if>
      <if test="tasktitle != null">
        TaskTitle,
      </if>
      <if test="importantcontent != null">
        ImportantContent,
      </if>
      <if test="summary != null">
        Summary,
      </if>
      <if test="taskstate != null">
        TaskState,
      </if>
      <if test="createuserid != null">
        CreateUserId,
      </if>
      <if test="createusername != null">
        CreateUserName,
      </if>
      <if test="createuserdepartment != null">
        CreateUserDepartment,
      </if>
      <if test="createuserposition != null">
        CreateUserPosition,
      </if>
      <if test="approvaluserid != null">
        ApprovalUserId,
      </if>
      <if test="approvalusername != null">
        ApprovalUserName,
      </if>
      <if test="approvaluserdepartment != null">
        ApprovalUserDepartment,
      </if>
      <if test="approvaluserposition != null">
        ApprovalUserPosition,
      </if>
      <if test="approvalaction != null">
        ApprovalAction,
      </if>
      <if test="arrivaltime != null">
        ArrivalTime,
      </if>
      <if test="approvaltime != null">
        ApprovalTime,
      </if>
      <if test="platformtype != null">
        PlatformType,
      </if>
      <if test="recordstatus != null">
        RecordStatus,
      </if>
      <if test="createtime != null">
        CreateTime,
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="taskid != null">
        #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="systemcode != null">
        #{systemcode,jdbcType=VARCHAR},
      </if>
      <if test="procinstid != null">
        #{procinstid,jdbcType=VARCHAR},
      </if>
      <if test="processname != null">
        #{processname,jdbcType=VARCHAR},
      </if>
      <if test="processcode != null">
        #{processcode,jdbcType=VARCHAR},
      </if>
      <if test="tasktitle != null">
        #{tasktitle,jdbcType=VARCHAR},
      </if>
      <if test="importantcontent != null">
        #{importantcontent,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        #{summary,jdbcType=VARCHAR},
      </if>
      <if test="taskstate != null">
        #{taskstate,jdbcType=INTEGER},
      </if>
      <if test="createuserid != null">
        #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createusername != null">
        #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="createuserdepartment != null">
        #{createuserdepartment,jdbcType=VARCHAR},
      </if>
      <if test="createuserposition != null">
        #{createuserposition,jdbcType=VARCHAR},
      </if>
      <if test="approvaluserid != null">
        #{approvaluserid,jdbcType=VARCHAR},
      </if>
      <if test="approvalusername != null">
        #{approvalusername,jdbcType=VARCHAR},
      </if>
      <if test="approvaluserdepartment != null">
        #{approvaluserdepartment,jdbcType=VARCHAR},
      </if>
      <if test="approvaluserposition != null">
        #{approvaluserposition,jdbcType=VARCHAR},
      </if>
      <if test="approvalaction != null">
        #{approvalaction,jdbcType=VARCHAR},
      </if>
      <if test="arrivaltime != null">
        #{arrivaltime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvaltime != null">
        #{approvaltime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformtype != null">
        #{platformtype,jdbcType=INTEGER},
      </if>
      <if test="recordstatus != null">
        #{recordstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null">
        #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.will.pojo.mc_ru_todo">
    update mc_ru_todo
    <set>
      <if test="taskid != null">
        TaskId = #{taskid,jdbcType=VARCHAR},
      </if>
      <if test="systemcode != null">
        SystemCode = #{systemcode,jdbcType=VARCHAR},
      </if>
      <if test="procinstid != null">
        ProcInstId = #{procinstid,jdbcType=VARCHAR},
      </if>
      <if test="processname != null">
        ProcessName = #{processname,jdbcType=VARCHAR},
      </if>
      <if test="processcode != null">
        ProcessCode = #{processcode,jdbcType=VARCHAR},
      </if>
      <if test="tasktitle != null">
        TaskTitle = #{tasktitle,jdbcType=VARCHAR},
      </if>
      <if test="importantcontent != null">
        ImportantContent = #{importantcontent,jdbcType=VARCHAR},
      </if>
      <if test="summary != null">
        Summary = #{summary,jdbcType=VARCHAR},
      </if>
      <if test="taskstate != null">
        TaskState = #{taskstate,jdbcType=INTEGER},
      </if>
      <if test="createuserid != null">
        CreateUserId = #{createuserid,jdbcType=VARCHAR},
      </if>
      <if test="createusername != null">
        CreateUserName = #{createusername,jdbcType=VARCHAR},
      </if>
      <if test="createuserdepartment != null">
        CreateUserDepartment = #{createuserdepartment,jdbcType=VARCHAR},
      </if>
      <if test="createuserposition != null">
        CreateUserPosition = #{createuserposition,jdbcType=VARCHAR},
      </if>
      <if test="approvaluserid != null">
        ApprovalUserId = #{approvaluserid,jdbcType=VARCHAR},
      </if>
      <if test="approvalusername != null">
        ApprovalUserName = #{approvalusername,jdbcType=VARCHAR},
      </if>
      <if test="approvaluserdepartment != null">
        ApprovalUserDepartment = #{approvaluserdepartment,jdbcType=VARCHAR},
      </if>
      <if test="approvaluserposition != null">
        ApprovalUserPosition = #{approvaluserposition,jdbcType=VARCHAR},
      </if>
      <if test="approvalaction != null">
        ApprovalAction = #{approvalaction,jdbcType=VARCHAR},
      </if>
      <if test="arrivaltime != null">
        ArrivalTime = #{arrivaltime,jdbcType=TIMESTAMP},
      </if>
      <if test="approvaltime != null">
        ApprovalTime = #{approvaltime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformtype != null">
        PlatformType = #{platformtype,jdbcType=INTEGER},
      </if>
      <if test="recordstatus != null">
        RecordStatus = #{recordstatus,jdbcType=INTEGER},
      </if>
      <if test="createtime != null">
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastmodifytime != null">
        LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where Id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.will.pojo.mc_ru_todo">
    update mc_ru_todo
    set TaskId = #{taskid,jdbcType=VARCHAR},
      SystemCode = #{systemcode,jdbcType=VARCHAR},
      ProcInstId = #{procinstid,jdbcType=VARCHAR},
      ProcessName = #{processname,jdbcType=VARCHAR},
      ProcessCode = #{processcode,jdbcType=VARCHAR},
      TaskTitle = #{tasktitle,jdbcType=VARCHAR},
      ImportantContent = #{importantcontent,jdbcType=VARCHAR},
      Summary = #{summary,jdbcType=VARCHAR},
      TaskState = #{taskstate,jdbcType=INTEGER},
      CreateUserId = #{createuserid,jdbcType=VARCHAR},
      CreateUserName = #{createusername,jdbcType=VARCHAR},
      CreateUserDepartment = #{createuserdepartment,jdbcType=VARCHAR},
      CreateUserPosition = #{createuserposition,jdbcType=VARCHAR},
      ApprovalUserId = #{approvaluserid,jdbcType=VARCHAR},
      ApprovalUserName = #{approvalusername,jdbcType=VARCHAR},
      ApprovalUserDepartment = #{approvaluserdepartment,jdbcType=VARCHAR},
      ApprovalUserPosition = #{approvaluserposition,jdbcType=VARCHAR},
      ApprovalAction = #{approvalaction,jdbcType=VARCHAR},
      ArrivalTime = #{arrivaltime,jdbcType=TIMESTAMP},
      ApprovalTime = #{approvaltime,jdbcType=TIMESTAMP},
      PlatformType = #{platformtype,jdbcType=INTEGER},
      RecordStatus = #{recordstatus,jdbcType=INTEGER},
      CreateTime = #{createtime,jdbcType=TIMESTAMP},
      LastModifyTime = #{lastmodifytime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>